:root{
    
    --cbg-section: rgb(245, 222, 179, 0.5);
    --fs-heading: clamp(3.2rem, 1.8rem + 4.48vw, 6rem);
    --fs-subheading: clamp(1rem, 0.875rem + 0.4vw, 1.25rem); 
    --fs-normal-text: clamp(1rem, 0.75rem + 0.8vw, 1.5rem);
    --fs-smaller-text: clamp(0.95rem, 0.85rem + 0.32vw, 1.15rem);
    --box-padding: clamp(4rem, -1.5rem + 17.6vw, 15rem);
    --block-padding: clamp(4rem, 1.75rem + 7.2vw, 8.5rem);

    --fs-200: clamp(0.75rem, 0.625rem + 0.4vw, 1rem);
    --fs-300: clamp(0.95rem, 0.875rem + 0.24vw, 1.1rem);
    --fs-415: clamp(1rem, 0.925rem + 0.24vw, 1.15rem);
    --fs-425: clamp(1rem, 0.875rem + 0.4vw, 1.25rem);
    --fs-450: clamp(1rem, 0.75rem + 0.8vw, 1.5rem);
    --fs-575: clamp(1.25rem, 1.125rem + 0.4vw, 1.50rem);
    --fs-520: clamp(1.25rem, 1rem + 0.8vw, 1.75rem);

    --fs-base: clamp(1rem, 0vw + 1rem, 1rem);
    --fs-md: clamp(1.25rem, 0.13vw + 1.21rem, 1.33rem);
    --fs-lg: clamp(1.56rem, 0.34vw + 1.46rem, 1.78rem);




}

*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: system-ui;
}

body{
    text-rendering: optimizeSpeed;
}

img,
svg{
    max-width: 100%;
    display: block;
}

h4{
    font-family:'Libre Franklin';
    font-weight: 400;
    font-size: var(--fs-subheading);
}

p{
    font-family:system-ui; 
    font-size: var(--fs-smaller-text);
    line-height: 1.75;
}

.center-p{
    text-align: center;
}


.bottom-pad{
    padding-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.main-container{
    --minmax-column: 30em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--minmax-column), 1fr));
}
